[submodule "thirdparty/circt"]
	path = thirdparty/circt
	url = https://github.com/llvm/circt.git
[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/DangoSys/bb-compiler.git
[submodule "arch/thirdparty/t1"]
	path = arch/thirdparty/t1
	url = https://github.com/DangoSys/t1.git
[submodule "bbdev"]
	path = bbdev
	url = https://github.com/DangoSys/bbdev.git
[submodule "thirdparty/palladium"]
	path = thirdparty/palladium
	url = https://github.com/SEU-ACAL/awesome-palladium.git
[submodule "docs"]
	path = docs
	url = https://github.com/DangoSys/documents.git
[submodule "thirdparty/waveform-mcp"]
	path = thirdparty/waveform-mcp
	url = https://github.com/jiegec/waveform-mcp.git
[submodule "bebop"]
	path = bebop
	url = https://github.com/DangoSys/bebop
	branch = next
[submodule "thirdparty/edein"]
	path = thirdparty/edein
	url = https://github.com/DangoSys/Edein.git
